<section id="contact" data-aos="fade-up">
  <div class="container text-center">
    <h2>Let's Connect</h2>
    <p class="lead mb-5 col-lg-8 mx-auto">
        I am currently open to new opportunities and collaborations. Reach out—I'd love to discuss coding, projects, or my role at Cognizant.
    </p>

    <div class="row justify-content-center contact-grid">

        <div class="col-sm-6 col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="100">
            <a href="mailto:muralikatta@gmail.com" class="contact-link-tile">
                <i class="fas fa-envelope"></i> <p>Email Me</p>
                <small>kattamurali611@gmail.com</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="300">
            <a href="tel:+919998887776" class="contact-link-tile">
                <i class="fas fa-mobile-alt"></i> <p>Contact </p>
                <small>+91 9494366830</small> 
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="200">
            <a href="https://github.com/muralikatta" target="_blank" class="contact-link-tile">
                <i class="fab fa-github"></i> <p>GitHub</p>
                <small>View Codebase</small>
            </a>
        </div>

        <div class="col-sm-6 col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="300">
            <a href="https://linkedin.com/in/muralikatta" target="_blank" class="contact-link-tile">
                <i class="fab fa-linkedin"></i> <p>LinkedIn</p>
                <small>Professional Profile</small>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-3 mb-4" data-aos="zoom-in" data-aos-delay="400">
            <a href="https://leetcode.com/muralikatta" target="_blank" class="contact-link-tile">
                <i class="fas fa-code"></i> <p>LeetCode</p>
                <small>Problem Solving</small>
            </a>
        </div>

    </div>

    <a href="mailto:kattamurali611@gmail.com" class="custom-button mt-5">Initiate (Email)</a>

  </div>
</section>