<section id="skills" data-aos="fade-up">
  <h2>🧠 Skills & Tools</h2>
  <div class="scroll-banner">
    <div class="scroll-content">
      <img src="icons\html5.svg" alt="HTML">
      <img src="icons\CSS3.svg" alt="CSS">
      <img src="icons/javascript.svg" alt="JS">
      <img src="icons/angular.svg" alt="Angular">
      <img src="icons/python.png" alt="Python">
      <img src="icons/sql.png" alt="MySQL">
      <img src="icons/react.svg" alt="React">
      <img src="icons/git.svg" alt="GitHub">
    </div>
  </div>
</section>
