<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand mx-3" href="#">Murali Katta</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item mx-3"><a class="nav-link active" href="#home">Home</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#projects">Projects</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
