.custom-navbar {
  background: rgba(20, 0, 60, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  padding: 15px 30px;
  margin: 20px auto;
  width: 80%;
  transition: all 0.4s ease;
  box-shadow: 0 0 20px rgba(4, 4, 4, 0.3);
}

.navbar-brand {
  font-family: "Titan One", sans-serif;
  font-size: 1.5rem;
  color: #fff !important;
}

.nav-link {
  color: #ddd !important;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #fff !important;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
