<section id="hero" data-aos="zoom-in" class="text-center d-flex align-items-center">
  <div class="container">
    <h1 class="display-3 glow-text">
      👋 Hi, I'm <span class="highlight">Murali Katta</span>
    </h1>
    <p class="lead">Program Analyst Trainee at <strong>Cognizant</strong></p>
    <p class="hero-tagline">
     What really drives me is the joy of building something great. I love diving into code to solve tricky problems and making sure the final product is intuitive, polished, and truly delightful for the user.
    </p>
    <a href="#projects" class="custom-button mt-4">View My Work</a>
  </div>
</section>