@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Titan+One&display=swap');

html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #020024, #090979, #00d4ff);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Titan One', sans-serif;
  letter-spacing: 1px;
}

section {
  padding: 100px 10%;
}

a {
  color: #66fcf1;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

a:hover {
  color: #45a29e;
}

.btn {
  background: #45a29e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #66fcf1;
  color: #000;
  transform: scale(1.05);
}
